<div class="lnc-search-quick" ng-controller="SearchQuickController">
  <div class="container">
    <div class="article">
      <div class="section">
        <strong>{{'CONTENT_TYPES'|translate}}</strong>
        <ul class="filter">
          <li ng-repeat="content_type in content_types">
            <input type="checkbox" class="checkbox">
            <label>{{'CONTENT_TYPE_'+content_type.id|translate}}</label>
          </li>
        </ul>
      </div>
      <div class="section">
        <div>
          <strong>{{'SEARCH'|translate}}</strong>
          <input type="text" class="keyword" name="keyword" lnc-keyword>
          <div class="lnc-select dib" lnc-select>
            <input type="text" readonly class="selected" value="所有字段">
            <a href="javascript:;" class="toggle dib"></a>
            <ul>
              <li>
                <a href="javascript:;" class="item">{{'ALL_FIELDS'|translate}}</a>
              </li>
              <li>
                <a href="javascript:;" class="item">{{'TITLE_ONLY'|translate}}</a>
              </li>
            </ul>
          </div>
          <input type="submit" class="lnc-button-submit dib" value="{{'SUBMIT'|translate}}" lnc-submit>
        </div>
        <div class="lnc-button-container cf">
          <i>{{'ANONYMOUS_KEY'|translate}}</i>
          <div class="fr">
            <a href="javascript:;" class="lnc-button-and dib" lnc-connector></a>
            <a href="javascript:;" class="lnc-button-or dib" lnc-connector></a>
            <a href="javascript:;" class="lnc-button-not dib" lnc-connector></a>
            <a href="javascript:;" class="lnc-button-helper dib" lnc-helper></a>
          </div>
        </div>
      </div>
    </div>
    <div class="aside">{{content_types}}</div>
  </div>
</div>
