<div class="lnc-search-quick" ng-controller="SearchQuickController">
  <div class="container">
    <div class="article">
      <div class="section">
        <strong>{{'CONTENT_TYPES'|translate}}</strong>
        <ul class="filter">
          <li ng-repeat="item in content_types">
            <input type="checkbox" class="checkbox" ng-checked="item.checked" ng-model="item.checked" lnc-content-type-checkbox>
            <label>{{'CONTENT_TYPE_'+item.id|translate}}</label>
          </li>
        </ul>
      </div>
      <div class="section">
        <div>
          <strong>{{'SEARCH'|translate}}</strong>
          <input type="text" class="keyword" ng-class="{focus:flags.focused}" name="keyword" lnc-keyword>
          <div class="lnc-select dib" lnc-select="keyword_scope">
            <span class="lnc-select-current dib">{{'KEYWORD_SCOPE_'+state.keyword_scope.id|translate}}</span>
            <a href="javascript:;" class="toggle dib" ng-class="{hover:flags.mouseenter}"></a>
            <ul ng-show="flags.mouseenter">
              <li ng-repeat="item in keyword_scopes">
                <a href="javascript:;" class="item" lnc-select-item>{{'KEYWORD_SCOPE_'+item.id|translate}}</a>
              </li>
            </ul>
          </div>
          <input type="submit" class="lnc-button-submit dib" value="{{'SUBMIT'|translate}}" lnc-submit>
        </div>
        <div class="lnc-button-container cf">
          <i>{{'ANONYMOUS_KEY'|translate}}</i>
          <div class="fr">
            <a href="javascript:;" class="lnc-button-and dib" lnc-connector></a>
            <a href="javascript:;" class="lnc-button-or dib" lnc-connector></a>
            <a href="javascript:;" class="lnc-button-not dib" lnc-connector></a>
            <a href="javascript:;" class="lnc-button-helper dib" lnc-helper></a>
          </div>
        </div>
      </div>
    </div>
    <div class="aside">{{state}}</div>
  </div>
</div>
