<div class="lnc-search-quick" ng-controller="SearchQuickController">
  <div class="container">
    <div class="article">
      <div class="section">
        <h2>{{'CONTENT_TYPES'|translate}}</h2>
        <ul>
          <li ng-repeat="content_type in content_types">
            <input type="checkbox" ng-checked="content_type.checked||content_types[9].checked" ng-model="content_type.checked">
            <label>{{'CONTENT_TYPE_'+content_type.id|translate}}</label>
          </li>
        </ul>
      </div>
      <div class="section searcher cf">
        <h2>{{'SEARCH'|translate}}</h2>
        <input type="text" class="keyword" lnc-keyword>
        <div class="lnc-select" lnc-select>
          <input type="text" readonly class="selected" ng-model="coding...">
          <a href="javascript:;" class="toggle dib"></a>
          <ul>
            <li>
              <a href="javascript:;" class="item">{{'ALL_FIELDS'|translate}}</a>
            </li>
            <li>
              <a href="javascript:;" class="item">{{'TITLE_ONLY'|translate}}</a>
            </li>
          </ul>
        </div>
        <input type="submit" value="{{'SUBMIT'|translate}}" lnc-submit>
        <p>{{'ANONYMOUS_KEY'|translate}}</p>
        <a href="javascript:;" lnc-connector>AND</a>
        <a href="javascript:;" lnc-connector>OR</a>
        <a href="javascript:;" lnc-connector>NOT</a>
        <a href="javascript:;" lnc-helper>?</a>
      </div>
    </div>
    <div class="aside">{{content_types}}</div>
  </div>
</div>
